@{
    ViewData["Title"] = "About";
}
<h1>About</h1>

<fieldset class="border border-dark rounded mt-4 w-50">
    <ul class="list-group-flush rounded ps-0 mb-0">
        <li class="list-group-item">
            BenchStore was made as a part of a <a href="https://is.muni.cz/th/qek2p/" target="_blank">bachelor thesis</a> at the Masaryk University, Faculty of Informatics in Brno, Czech Republic
        </li>
        <li class="list-group-item">
            Check out BenchStore on <a href="https://github.com/staticafi/BenchStore" target="_blank">GitHub</a>
        </li>
        <li class="list-group-item">
            Statica FI on <a href="https://github.com/staticafi" target="_blank">GitHub</a>
        </li>
        <li class="list-group-item">
            SoSy-Lab - <a href="https://github.com/sosy-lab/benchexec" target="_blank">BenchExec</a>
        </li>
    </ul>
</fieldset>

