@model Label

@{
    ViewData["Title"] = "Edit Label";
}

<h1>Edit Label</h1>

<form asp-action="@nameof(LabelsController.Edit)" method="post" class="col-6 mt-4">
    <fieldset class="border border-dark rounded p-2">
        <legend class="float-none w-auto mb-0 ps-2 pe-2">Label</legend>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Color" class="form-label"></label>
            <input asp-for="Color" type="color" class="form-control form-control-color" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>
    </fieldset>
    <div class="form-group mt-2">
        <input type="submit" value="Save" class="btn btn-primary border border-dark" />
        <a asp-action="@nameof(LabelsController.Index)" class="btn btn-secondary border border-dark">Cancel</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

