@using BenchStoreBL.Models;
@model IEnumerable<Label>
@{
    ViewData["Title"] = "Results";
}

<h1>Labels</h1>

<fieldset class="border border-dark rounded mt-4">
    <ul class="list-group-flush rounded ps-0 mb-0">
        @foreach (var labelItem in Model)
        {
            <li class="list-group-item d-flex flex-row justify-content-between align-items-start">
                <a asp-action="@nameof(LabelsController.Edit)"
                   asp-route-id="@labelItem.ID">
                    <span class="badge border border-dark" style="background: @labelItem.Color">@labelItem.Name</span>
                </a>
            </li>
        }
    </ul>
</fieldset>

